**Importing the necessary libraries.**

In [12]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import plotly 
import plotly.express as px

**Uploading the dataset and naming it df.**

In [2]:
df = pd.read_csv("NetflixOriginals.csv", encoding=("ISO-8859-1") ,sep = ",")

**Lets take a look at our data.**

In [3]:
df

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

**Using ".head()" allows us the see the first five row of our data. Five is the default number. We can specify this number by writing it in the paranthesis.**

In [4]:
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

**Using ".tail()" allows us the see the last five row of our data. Five is the default number. We can specify this number by writing it in the paranthesis.**

In [5]:
df.tail()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

**Lets start our analysis according the given questions.**

# 1- [TR]Veri setine gÃ¶re uzun soluklu filmler hangi dilde oluÅŸturulmuÅŸtur?
#GÃ¶rselleÅŸtirme yapÄ±nÄ±z. 
#[ENG]In which language were the long-run movies were created according to the dataset? Visualize it.

For this question, first we need to determine the limit for long-run movies. Lets select 90 which equals to 1 and a half hour and find out which movies suits this spesification.

In [6]:
long_run = df[df["Runtime"] >= 120]
long_run

,Title,Genre,Premiere,Runtime,IMDB Score,Language
5,Drive,Action,"November 1, 2019",147,3.5,Hindi
7,The Last Days of American Crime,Heist film/Thriller,"June 5, 2020",149,3.7,English
9,Sardar Ka Grandson,Comedy,"May 18, 2021",139,4.1,Hindi
16,Ghost Stories,Horror anthology,"January 1, 2020",144,4.3,Hindi
23,The Girl on the Train,Thriller,"February 26, 2021",120,4.4,Hindi
...,...,...,...,...,...,...
562,The Trial of the Chicago 7,Drama,"October 16, 2020",130,7.8,English
564,Icarus,Documentary,"August 4, 2017",120,7.9,English
565,Marriage Story,Drama,"December 6, 2019",136,7.9,English
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English

Now that we have found the long run movies, we need to find in which language they are and how many are there for each language. For this, we are going to use ".groupby()"

In [25]:
long_run_language = long_run.groupby("Language")["Runtime"].count().sort_values(ascending=False)
long_run_language

Language
English                 48
Hindi                   11
Korean                   3
Japanese                 2
Marathi                  2
Spanish                  2
English/Akan             1
English/Japanese         1
English/Korean           1
Indonesian               1
Khmer/English/French     1
Portuguese               1
Name: Runtime, dtype: int64

For visualization, I will go with pie chart.

In [14]:
fig = px.bar(long_run_language, x = long_run_language.index, y = long_run_language.values, labels={'y':'Count', 'index':'Language'})
fig.update_layout(xaxis={'categoryorder':'total descending'})

fig.show()

#plt.bar(long_run["Language"], long_run["Runtime"])
#plt.xlabel("Language")
#plt.ylabel("Runtime")

AttributeError: ignored